<p>
    <% const titleWithPrefix = (branch.prefix ? `${branch.prefix} - ` : '') + note.title; %>

    <% if (activeNote.noteId === note.noteId) { %>
    <strong><%= titleWithPrefix %></strong>
    <% } else { %>
    <a class="type-<%= note.type %>" href="./<%= note.shareId %>"><%= titleWithPrefix %></a>
    <% } %>
</p>

<% if (note.hasChildren()) { %>
<ul>
    <% note.getVisibleChildBranches().forEach(function (branch) { %>
        <li>
            <%- include('tree_item', {branch: branch, note: branch.getNote()}) %>
        </li>
    <% }) %>
</ul>
<% } %>
