<p>
    <% if (activeNote.noteId === note.noteId) { %>
    <strong><%= note.title %></strong>
    <% } else { %>
    <a class="type-<%= note.type %>" href="./<%= note.shareId %>"><%= note.title %></a>
    <% } %>
</p>

<% if (note.hasChildren()) { %>
<ul>
    <% note.getVisibleChildNotes().forEach(function (childNote) { %>
        <li>
            <%- include('tree_item', {note: childNote}) %>
        </li>
    <% }) %>
</ul>
<% } %>
